/* Existing CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Section 1 Styles */
.hero-wrapper1 {
  height: 100vh;
  background-image: url("../assets/images/Collobaration1.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}

.hero-overlay1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.hero-content {
  display: flex;
  flex-direction: column;
  margin-top: 5em;
}

.hero-content-collaborate h1 {
  font-size: 3.3rem;
  text-align: center;
  font-family: "Oswald";
  font-weight: 700;
  padding: 1px;
}

.hero-content-collaborate p {
  font-size: 1.2rem;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 400;
  padding: 20px 150px;
}

/* Section 2 Styles */
.collaborate-s2 {
  height: 100vh;
}

.collaborate-s2-container {
  display: flex;

}

.collaborate-s2 h1 {
  font-size: 3.3rem;
  margin-top: 2em;
  padding-left: 1em;
}

.collaborate-s2-text p {
  width: 90%;
  font-size: 1.2rem;
  padding: 20px 50px;
  margin-top: 7em;
}

.collaborate-s2-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-top: 2em;
  margin-bottom: 2em;
}

.collaborate-s2-img img {
  width: 90%;
}

.collaborate-s2-text a {
  width: 12rem;
  text-align: center;
  display: inline-block;
  padding: 15px 25px;
  margin-left: 3em;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  background-color: #fcb541;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.collaborate-s2-text a:hover {
  background-color: #f4ac06fe;
  color: #000;
}

/* Section 3 Styles */
.rent-the-space {
  height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 5em;
  overflow: hidden;
  background-color: #003d1b;
  position: relative;
}

.collaborate-s3 {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 70px 70px;
  color: white;
}

.collaborate-s3 h1 {
  font-size: 3.3rem;
}

.collaborate-s3 p {
  font-size: 1.2rem;
  width: 75%;
  margin-top: 2em;
  line-height: 1.5;
}

.collaborate-s3 a {
  width: 12rem;
  text-align: center;
  display: inline-block;
  padding: 15px 25px;
  margin-top: 2em;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  background-color: #fcb541;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.collaborate-s3 a:hover {
  background-color: #f4ac06fe;
  color: #000;
}

.rent-list {
  width: 100%;
  margin-top: 1em;
  font-size: 1.2rem;
}

.rent-list-items {
  display: flex;
  /* gap: 2em; */
}

/* .rent-list-item-1 {
  color: white;
  justify-content: space-between;
} */

.collaborate-s3-img {
  /* display: flex;
  justify-content: end;
  align-items: right; */
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* Section 4 Styles */

.showcase-your-art {
  height: 100vh;
  display: flex;
}

.collaborate-s4 {
  width: 50%;
  background-color: #f0f0f0;
  padding: 50px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collaborate-s4 h1 {
  font-size: 3.3rem;
  margin-bottom: 2rem;
}

.collaborate-s4 p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.collaborate-s4 a {
  width: 12rem;
  text-align: center;
  display: inline-block;
  padding: 15px 25px;
  margin-top: 2em;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  color: #fcb541;
  background-color: black;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.image-container {
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


/* Mobile View */

@media screen and (min-width: 320px) and (max-width: 630px) {

  /* Section 1 Adjustments */
  .hero-wrapper1 {
    height: 90vh;
    background-size: cover;
    padding: 20px;
  }

  .hero-content-collaborate h1 {
    font-size: 2rem;
    padding: 10px;
    margin-top: 5em;
  }

  .hero-content-collaborate p {
    font-size: 1rem;
    padding: 5px;
    margin-top: .5em;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }

  /* Section 2 Adjustments */
  .collaborate-s2 {
    height: 100vh;
  }

  .collaborate-s2 h1 {
    font-size: 2rem;
    margin-top: 1em;
    padding: 0px 20px;
  }


  .collaborate-s2-container {
    flex-direction: column;
    align-items: center;
  }

  .collaborate-s2-img img {
    width: 100%;
    height: auto;
    margin: 0;
  }

  .collaborate-s2-text p {
    padding: 0px 10px;
    width: 100%;
    font-size: 1rem;
    margin-top: .8em;
  }

  .collaborate-s2-text a {
    margin-left: .8em;
    margin-top: 1em;
    width: 92%;
    font-size: 1rem;
  }

  /* Section 3 Adjustments */
  .rent-the-space {
    flex-direction: column;
    margin-top: 2em;
    padding: 0px 10px;
  }

  .collaborate-s3 {
    width: 100%;
    padding: 0px;
  }

  .collaborate-s3 h1 {
    font-size: 2rem;
  }

  .collaborate-s3 p {
    font-size: 1rem;
  }

  .collaborate-s3-img img {
    width: 100%;
    height: auto;
  }

  /* Section 4 Adjustments */
  .showcase-your-art {
    flex-direction: column;
  }

  .image-container img {
    width: 100%;
    height: auto;
  }

  .collaborate-s4 h1 {
    font-size: 2rem;
    text-align: center;
  }

  .collaborate-s4 p {
    font-size: 1rem;
    padding: 10px 20px;
    text-align: center;
  }

  .collaborate-s4 a {
    width: 100%;
    margin-top: 1em;
    font-size: 1rem;
  }
}


@media (min-width: 631px) and (max-width: 990px) {}

@media (min-width: 991px) and (max-width: 1200px) {}


@media (max-width: 992px) {
  .laptop-view {
    height: auto;
    flex-direction: column;
  }

  .image-container {
    display: none;
  }

  .content-container {
    width: 100%;
  }

  .hero-wrapper1 {
    background-attachment: scroll;
  }
}

/* Tablet View (Targeting 768px to 992px) */
@media (min-width: 768px) and (max-width: 992px) {
  .hero-wrapper1 {
    height: 50vh;
    /* Reduced height for tablet view */
  }

  .hero-overlay1 {
    justify-content: flex-start;
    /* Adjust content position if needed */
    padding-top: 20px;
    /* Add padding to top if necessary */
  }

  .hero-wrapper1 h1 {
    font-size: 40px;
    /* Adjust font size for tablet view */
    margin-top: 50px;
    /* Adjust margin if needed */
  }

  .hero-wrapper1 p {
    font-size: 18px;
    /* Adjust font size for tablet view */
  }

  .collaborate-s2 h1 {
    font-size: 2.5em;
  }

  .collaborate-s3 p {
    width: 100%;
  }

}