@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap");


.customized-height h1{
  font-size: 3rem;
  margin-top: 1.8em;
}

.about-container p{
  padding: 3rem 12rem;
  font-size: 18px;
}
.students{
 display: flex;
 justify-content: space-around;
 align-items: center;
 /* gap: 2em; */
 margin-bottom: 2em;
 margin-top: 2em;
}

.awards p {
  margin-top: 1.5em;
  padding: 1em 10em; 
  width: 100%;
}

@media screen and (min-width: 320px) and (max-width: 630px) {
  p {
    font-size: .9rem;
  }

  .customized-height {
    height: 130vh;
  }
  .customized-height h1{
    font-size: 2.5rem;
    margin-top: 1em;
  }

  .about-container p{
    padding: 3rem 1rem;
  }
  .students{
    display:block;
    justify-content: space-between;
    align-items: center;
    /* gap: 2em; */
    margin-bottom: 2em;
    margin-top: 2em;
   }
  .stats-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .stats-section {
    padding: 13px;
  }
}

@media screen and (min-width: 631px) and (max-width: 990px) {
  .stats-grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
  }

  p {
    font-size: 1.2rem; 
  }

  .customized-height {
    height: 82vh;
  }
  .students{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin-bottom: 2em;
    margin-top: 2em;
   }
}

@media screen and (min-width: 991px) and (max-width: 1200px) {
  .stats-grid {
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
  }
  p {
    font-size: 1.4rem; 
  }

  .customized-height {
    height: 70vh;
  }
  
}

@media screen and (min-width: 1201px) {
  .stats-grid {
    grid-template-columns: repeat(4, 1fr);
    padding: 10px;
  }
}

.stats-grid {
  display: grid;
  /* grid-template-columns: repeat(4, 1fr);  */
  place-items: center;
  gap: 10px; /* Space between grid items */
  /* padding: 20px; */
}

.stats-section {
  background-color: #003d1b;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  padding: 25px;
}

/* @media screen and  (min-width: 1150px) {
  .customized-height {
    height: 110vh;
  }
} */


